/* Qonstruct Construction Business HTML-5 Template */

/*** 

====================================================================
	About One
====================================================================

***/

.about-one{
	position:relative;
	padding: 110px 0px 80px;
}

.about-one_image{
	position:relative;
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 30px;
}

.about-one_image img{
	position:relative;
	width:100%;
}

.about-one .bold-text{
	position:relative;
	font-size: 24px;
	line-height: 34px;
	font-weight: 600;
	margin-bottom: 30px;
	color: var(--color-two);
}

.about-one .default-skills{
	margin-top: 20px;
	margin-bottom: 25px;
}

.about-one_list{
	position:relative;
}

.about-one_list li{
	position:relative;
	font-size: 18px;
	padding-left: 25px;
	margin-bottom: 15px;
	color: var(--color-two);
}

.about-one_list li:before{
	position:absolute;
	content: "\f12c";
	left:0px;
	top:0px;
	color: var(--main-color);
	font-family: "flaticon_qonstruct";
}

/*** 

====================================================================
	About Two
====================================================================

***/

.about-two{
	position:relative;
	padding: 110px 0px 90px;
	background-color: #f5f5f5;
}

.about-two .sec-title{
	margin-bottom: 25px;
}

.about-two .image-box{
	position:relative;
	overflow: hidden;
	margin-bottom: 25px;
}

.about-two .feature{
	position:relative;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 20px;
	color: var(--color-two);
}

.about-two .feature strong{
	position:relative;
	display: block;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--color-two);
}

.about-two .content-box{
	position:relative;
	padding: 30px 25px;
	border-radius: 5px;
	background-color: var(--color-two);
}

.about-two .content-box .title{
	position:relative;
	color: var(--white-color);
}

.about-two .content-box .content-text{
	position:relative;
	font-size: 18px;
	line-height: 30px;
	margin-top: 15px;
	margin-bottom: 20px;
	color: var(--white-color);
}

.about-two .content-box .message{
	position:relative;
	font-size: 18px;
	font-weight: 600;
	color: var(--white-color);
}

.about-two .content-box .message span{
	position:relative;
	line-height:1em;
	top: 1px;
	margin-left: 5px;
	font-weight: normal;
	font-family: "flaticon_qonstruct";
}

.about-two .content-box .message:hover{
	color: var(--main-color);
}