/* Qonstruct Construction Business HTML-5 Template */

/***

====================================================================
	Page Title
====================================================================

***/

.page-title{
	position:relative;
	overflow: hidden;
	padding:250px 0px 100px;
	background-size: cover;
}

.page-title:before{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	opacity:0.80;
	background-color:var(--color-two);
}

.page-title .big-title{
	position:absolute;
	bottom:0px;
	font-size: 120px;
	line-height:1em;
	opacity:0.15;
	font-weight:700;
	color:var(--white-color);
	text-transform:capitalize;
}

.page-title h2{
	font-weight: 700;
	text-transform:capitalize;
	color:var(--white-color);
}

.page-title .bread-crumb{
	position: relative;
	display: inline-block;
}

.page-title .bread-crumb li{
	position: relative;
	font-weight: 500;
	display:inline-block;
	font-size: 18px;
	color:var(--white-color);
	text-transform:capitalize;
	margin-right: 15px;
	padding-right: 15px;
}

.page-title .bread-crumb li:before{
	position: absolute;
	right: -6px;
	top:0px;
    content: "-";
	color:var(--white-color);
}

.page-title .bread-crumb li:last-child{
	padding-right: 0;
	margin-right: 0;
}

.page-title .bread-crumb li:last-child:before{
	display: none;
}

.page-title .bread-crumb li a{
	color:var(--white-color);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;	
}

.page-title .bread-crumb li a:hover{
	color: var(--main-color);
}

.page-title_text{
	position:relative;
	font-size:18px;
	line-height:30px;
	max-width:320px;
	color:var(--white-color);
}
