/* Qonstruct Construction Business HTML-5 Template */

/*** 

====================================================================
	Pricing One
====================================================================

***/

.pricing-one{
	position:relative;
	padding-bottom: 80px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.pricing-one.style-two{
	padding-top: 110px;
}

/* Pricing Tabs */

.pricing-tabs {
	position: relative;
}

.pricing-tabs .title-column {
	position: relative;
	text-align: center;
	margin-bottom: 40px;
}

.pricing-tabs .tab-buttons {
	position: relative;
	text-align: center;
	display: inline-block;
}

.pricing-tabs .tab-buttons .tab-btn {
	position: relative;
	font-size: 18px;
	font-weight: 500;
	float: left;
	cursor: pointer;
	margin: 0 20px;
	line-height: 47px;
	color: var(--black-color);
	transition: all 300ms ease;
}

.pricing-tabs .tab-buttons .tab-btn:hover,
.pricing-tabs .tab-buttons .tab-btn.active-btn {
	color: var(--main-color);
}

.pricing-tabs .tab-buttons .boll {
	position: relative;
	width: 92px;
	height: 45px;
	padding: 8px 8px;
	border-radius: 50px;
	text-align: left;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
	background-color: var(--main-color);
}

.pricing-tabs .tab-buttons .boll .round {
	position: relative;
	width: 30px;
	height: 29px;
	border-radius: 50px;
	display: inline-block;
	background-color: #ffffff;
	transition: all 300ms ease;
}

.pricing-tabs .tab-buttons .boll .round.boll-right {
	transform: translateX(45px);
}

.pricing-tabs .tabs-content .tab {
	position: relative;
	display: none;
	transition: all 600ms ease;
	transform: translateY(60px);
}

.pricing-tabs .tabs-content .tab.active-tab {
	display: block;
	transform: translateY(0px);
}

.pricing-tabs .tabs-content .tab .content .guarantee {
	position: relative;
	text-align: center;
	color: #373a5b;
	font-size: 14px;
	font-weight: 500;
}

.pricing-tabs .tabs-content .tab .content .guarantee .circle {
	position: relative;
	width: 18px;
	height: 18px;
	top: 3px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 50px;
	border: 2px solid #2bb852;
}

.pricing-tabs .tabs-content .tab .content .guarantee .circle:before {
	position: absolute;
	content: '';
	left: 5px;
	top: 5px;
	width: 4px;
	height: 4px;
	border-radius: 50px;
	background-color: #2bb852;
}

.price-block_one {
  position: relative;
  margin-bottom: 30px;
}
.price-block_one .inner {
  position: relative;
  padding: 40px 35px;
  border-radius: 12px;
  background-color: #f5f5f5;
}

.price-block_one .title {
  position: relative;
  font-size: 18px;
  color: var(--color-two);
}
.price-block_one .price {
  position: relative;
  font-size: 48px;
  line-height: 1em;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 55px;
  color: var(--color-two);
}
.price-block_one .price sub {
  opacity: 0.9;
  font-size: 18px;
  line-height: 1em;
  font-weight: 300;
}
.price-block_one .btn-box {
  position: relative;
}

.price-block_one .price-one_list {
  position: relative;
  padding-left: 35px;
  border-left: 1px solid rgba(0, 0, 0, 0.06);
}

.price-block_one .price-one_list li {
  position: relative;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 30px;
  color: var(--color-two);
}
.price-block_one .price-one_list li:before {
  position: absolute;
  content: "\f12c";
  left: 0px;
  top: 0px;
  font-size: 16px;
  display: inline-block;
  color: var(--color-two);
  font-family: "flaticon_qonstruct";
}
.price-block_one .price-one_list li:last-child {
  margin-bottom: 0px;
}