/* Qonstruct Construction Business HTML-5 Template */

@media only screen and (max-width: 1650px){
	
	.slider-three_vector,
	.slider-three_vector-two{
		display: none;
	}
	
}

@media only screen and (max-width: 1500px){
	
	.slider-one .side-image{
		display: none;
	}
	
	.slider-one_content-inner{
		max-width: 800px;
	}

}

@media only screen and (max-width: 1400px){
	
	.slider-three_image,
	.slider-one_call{
		display: none;
	}
	
	.service-four_content{
		border: none;
		padding-left: 0px;
	}
	
	.cta-four{
		background-position: left bottom;
	}

}

@media only screen and (max-width: 1300px){
	
	.slider-one_pattern,
	.main-header_button,
	.slider-one-arrow{
		display: none;
	}
	
}

@media only screen and (max-width: 1200px){
	
	.about-two .image-box{
		display: none;
	}
	
	.counter-block:last-child .inner{
		border-right:1px solid rgba(var(--black-color-rgb), 0.08);
	}
	
}

@media only screen and (max-width: 1240px){
	
	.time-table-section .table-outer{
		overflow-y: visible;
		overflow-x: auto;
	}

	.table-outer {
		position: relative;
		overflow-x: scroll;
	}
	
	
	.main-header .header-lower .inner-container::before{
		left:-80px !important;
		right: -80px;
		border-radius:0px;
		background-color: var(--white-color);
	}
	
	.main-header .header-lower .inner-container::after,
	.header-top{
		display: none;
	}
	
	.main-header{
		position:relative;
		min-height: 90px;
		background-color: var(--white-color);
	}
	
	.main-header.header-style-three .header-lower{
		background-color: var(--main-color);
	}
	
	.main-header .header-lower .inner-container{
		padding: 0px 0px;
	}
	
	.main-header .header-lower .logo-box{
		position:relative;
		padding:10px 0px;
	}
	
	.welcome-one_content-column{
		order: 1;
	}
	
	.welcome-one_image-column{
		order: 2;
		text-align:center;
	}
	
	.fluid-one .right-box{
		padding:90px 15px 60px 40px;
	}
	
	.fluid-one_content{
		right: 20px;
		bottom:20px;
	}
	
	.main-header.header-style-two .header-lower .inner-container::before{
		background-color: #fff;
	}
	
	.main-header.header-style-two .header-lower .inner-container{
		padding: 0px 0px;
	}
	
	.service-block_three .inner{
		padding-top: 0px;
	}
	
	.service-block_three .inner .title span{
		top: 0px;
	}
	
	.service-block_three .inner{
		margin-right: 0px;
	}
	
	.blog-three_quote{
		margin-bottom: 30px;
	}
	
}

@media only screen and (max-width: 1140px){
	
	.main-header .main-menu .navigation > li{
		margin-right: 15px;
	}
	
	.main-header .main-menu .navigation > li > a{
		font-size: 14px;
	}
	
	.main-header .header-lower{
		border-radius: 0px;
	}

	.main-header .header-lower .outer-box {
		margin-top: 0px;
	}
	
	.main-header_button{
		display: none;
	}
	
	h2 {
		line-height: 60px;
		font-size: 50px;
	}
	
	.welcome-one_tag{
		font-size: 20px;
	}
	
	.fluid-one .left-box{
		position:relative;
		width:100%;
		background: none;
	}
	
	.fluid-one_image{
		display: block;
	}
	
	.fluid-one .right-box{
		width:100%;
		padding-left: 25px;
	}
	
	.fluid-one .right-box_inner{
		max-width:100%;
		padding-left: 0px;
	}
	
	.footer-style-two .infos-outer{
		margin-left:270px;
	}
	
	.shop-detail_content-column .inner-column{
		padding-left: 0px;
	}
	
	.main-footer{
		margin-top: 0px;
	}
	
	.main-footer .widgets-section{
		padding-top: 100px;
	}
	
}

	
@media only screen and (max-width: 1023px){
	
	.main-header .main-box .logo-box {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		margin:0px;
		text-align:left;
	}
	
	.main-header .outer-box{
		position: static;
		display:block;
	}
	
	.main-header .mobile-nav-toggler{
		display:block;
	}
	
	.main-header .sticky-header .mobile-nav-toggler{
		display:block;
	}
	
	.main-header .nav-outer,
	.main-header .sticky-header .main-menu{
		display:none;
	}
	
	.main-header #navbarSupportedContent{
		display:block;
	}
	
	.main-header .mCSB_inside > .mCSB_container{
		margin-right:0px;
	}

	.main-header .main-menu{
		display: none;
	}
	
	.mobile-menu .navigation li.has-mega-menu > .mega-menu {
		display: none;
		overflow: hidden;
	}
	
	.main-header .mobile-menu .navigation li.has-mega-menu .mega-menu .mega-menu-bar .column h6{
		display:none;
	}
	
	.main-header .mobile-menu .navigation li.has-mega-menu .mega-menu .mega-menu-bar .column{
		width:100%;
	}
	
	.slider-one_big-title{
		font-size: 100px;
	}
	
	.slider-two_pattern{
		display: none;
	}
	
	.blog-two{
		padding-bottom: 90px;
	}
	
	.main-footer.style-two{
		margin-top: 0px;
	}
	
	.footer-info_block .inner{
		font-size: 15px;
	}
	
	.main-footer .widgets-section{
		padding-top: 90px;
	}
	
	.cta-three .inner-container{
		padding: 50px 0px 50px;
		border-radius: 0px;
	}
	
	.newsletter-box{
		margin-top: 25px;
	}
	
	.cta-three{
		background-color: var(--main-color);
		margin-top: 0px;
	}
	
	.fluid-one.style-two .right-box{
		padding-bottom: 90px;
	}
	
	.main-header.header-style-three .mobile-nav-toggler{
		color: var(--white-color);
	}
	
	.main-footer{
		margin-top: 0px;
	}
	
}

@media only screen and (max-width: 990px){
	
	.main-header.header-style-one .main-header_button{
		display:block;
	}
	
	.slider-one .swiper-slide{
		padding:220px 0px 120px;
	}
	
	h2 {
		line-height: 50px;
		font-size: 40px;
	}
	
	.fluid-one .right-box{
		padding-bottom: 0px;
	}
	
	.slider-two_heading {
		font-size: 70px;
		line-height: 90px;
	}
	
	.slider-one_big-title{
		font-size: 80px;
	}

	.service-two_button{
		margin-bottom: 30px;
	}
	
	.footer-widget,
	.cta-two_title{
		margin-bottom: 30px;
	}
	
	.project-two .project-block_three .number{
		margin-bottom: 50px;
	}
	
	.project-two .project-block_three .text{
		max-width: 100%;
	}
	
	.testimonial-two_button{
		margin-top: 20px;
	}
	
	.slider-three_socials,
	.testimonial-block_two-text br{
		display: none;
	}
	
	.testimonial-two .single-item_carousel-pagination{
		position:relative;
		top:auto;
		margin-top: 25px;
		padding-bottom: 5px;
		width:auto !important;
		bottom:0px !important;
	}
	
	.testimonial-two .single-item_carousel-pagination .swiper-pagination-bullet{
		display: inline-block !important;
		margin: 0px 15px !important;
	}
	
	.blog-two_button{
		margin-bottom: 30px;
	}
	
	.service-four_content{
		margin-top: 40px;
	}
	
	.service-four_content .text{
		max-width: 100%;
	}
	
	.contact-one .image-column{
		margin-bottom: 30px;
	}
	
	.faq-one .accordion-column{
		order:1;
	}
	
	.faq-one .image-column{
		order:2;
	}
	
	.footer-style-two::before{
		top: 0px;
	}
	
	.footer-style-two{
		padding-top: 90px;
		margin-top: 0px;
	}
	
	.signup-widget{
		margin-top: 0px;
	}
	
	.footer-style-two .infos-outer{
		margin-left: 0px;
	}
	
	.footer-info_block-two{
		margin-bottom: 30px;
	}
	
	.footer-info_block-two .inner,
	.footer-info_block-two strong{
		color: var(--white-color);
	}
	
	.footer-style-two .widgets-section{
		padding-top: 50px;
	}
	
	.blog-three{
		padding-bottom: 90px;
	}
	
	.team-image-box{
		margin-bottom: 50px;
	}
	
	.sidebar-page-container.left-sidebar .sidebar-side{
		order:2;
	}
	
	.sidebar-page-container.left-sidebar .content-side{
		order:1;
	}

	.project-detail_image{
		margin-bottom: 30px;
	}
	
	.project-detail_list{
		margin-top: 25px;
	}
	
	.shop-detail_content-column{
		order:1;
	}
	
	.shop-detail_gallery-column{
		order:2;
	}
	
	.slider-two_socials{
		display: none;
	}

}

@media only screen and (max-width: 820px){
	
	.slider-one_big-title,
	.slider-one_socials{
		display: none;
	}
	
	.testimonial-block_two-text{
		font-size: 30px;
		line-height: 46px;
	}
	
	.newsletter-box .form-group input[type="text"],
	.newsletter-box .form-group input[type="email"]{
		width: 100%;
		max-width:100%;
	}
	
	.cta-three .inner-container{
		display: block !important;
	}
	
}

@media only screen and (max-width: 767px){
	
	.main-header .header-upper .logo-outer {
		position:relative;
		width:100%;
	}
	
	.main-header .sticky-header .outer-box{
		display:block;
		right: 0px;
		left: auto;
		top:0px;
	}

	.main-header .main-menu{
		width:100%;
		display:none;
	}
	
	.main-header .main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-header .main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-header .main-box .logo-box{
		float:none;
		text-align:center;
		padding-bottom:10px;
	}

	.main-header .header-lower .outer-box{
		position:relative;
		z-index:12;
		display:block;
	}
	
	.main-header .main-menu .navbar-header .navbar-toggler{
		display: inline-block;
		z-index: 12;
		width: 50px;
		height: 40px;
		float: none;
		padding: 0px;
		text-align: center;
		border-radius: 0px;
		background: none;
		border: 1px solid #ffffff;
	}
	
	.main-header .main-menu .navbar-header .navbar-toggler .icon-bar{
		position: relative;
		background: #ffffff;
		height: 2px;
		width: 26px;
		display: block;
		margin:0 auto;
		margin:5px 11px;
	}
	
	.main-header .nav-outer .mobile-nav-toggler{
		display: block;
	}
	
	.main-header #navbarSupportedContent{
		display:block;
	}
	
	.main-header .mCSB_inside > .mCSB_container{
		margin-right:0px;
	}
	
	.cta-one_text br,
	.clock-wrapper{
		display: none;
	}
	
	.coming-soon .content .content-inner h2{
		margin-bottom: 30px;
	}

	.time-counter .time-countdown{
		margin-bottom: 30px;
	}
	
	h1 {
		line-height: 70px;
		font-size: 60px;
	}
	
	.welcome-one_tag{
		font-size: 16px;
	}
	
	.preloader .preloader-heading .load-text{
		font-size: 40px;
		letter-spacing: 5px;
	}
	
	.testimonial-block_one-inner::before{
		left:0px;
	}
	
	.testimonial-block_one-content{
		padding: 0px 0px;
	}
	
	.testimonial-block_one-inner{
		padding: 25px 25px;
	}
	
	.testimonial-block_one-author{
		position:relative;
		top: 0px;
		margin-bottom: 45px;
		display: inline-block;
	}
	
	.footer-bottom_navs li{
		margin-left: 0px;
		margin-right: 10px;
	}
	
	.slider-two .middle-box{
		margin-left: 0px;
	}
	
	.slider-two .middle-box::before{
		display: none;
	}
	
	.slider-two_heading {
		font-size: 60px;
		line-height: 80px;
	}
	
	.slider-two_text{
		margin-top: 0px;
	}
	
	.testimonial-two_trusted{
		margin-left:0px;
	}
	
	.testimonial-two_authors{
		margin-right: 15px;
	}
	
	.testimonial-block_two-text{
		font-size: 24px;
		line-height: 36px;
	}
	
	.price-block_one{
		text-align: center;
	}
	
	.price-block_one .price-one_list{
		border: 0px;
		margin-top: 30px;
		padding-left: 0px;
	}
	
	.price-block_one .price-one_list li{
		text-align: left;
	}
	
	.price-block_one .price{
		margin-bottom: 30px;
	}
	
	.main-footer.style-two .footer-text{
		max-width: 100%;
	}
	
	.footer-list{
		margin-bottom: 20px;
	}
	
	.project-block_two .inner .content-outer .content .text,
	.slider-two_text br{
		display: none;
	}
	
	.slider-three .swiper-slide{
		padding: 230px 0px 180px;
	}
	
	.service-block_three .inner{
		padding-left: 0px;
		min-height: auto;
	}
	
	.service-block_three .inner{
		padding-bottom: 25px;
	}
	
	.service-four_content .text{
		max-width: 100%;
	}
	
	.service-block_three .inner .image{
		position:relative;
		margin-bottom: 30px;
	}
	
	.service-block_three .inner .text{
		max-width: 100%;
	}
	
	.about-three_btn{
		margin-bottom: 30px;
	}
	
	.about-two{
		padding-bottom: 110px;
	}
	
	.counter-block .inner,
	.counter-block:last-child .inner{
		border:0px;
	}
	
	h3 {
		line-height: 36px;
		font-size: 22px;
	}
	
	.signup-widget{
		margin-bottom: 35px;
	}
	
	.footer-style-two .footer-two_logo-widget .footer-text{
		max-width: 100%;
	}
	
	.page-title .big-title{
		font-size: 70px;
	}
	
	.team-detail_form .inner-container{
		padding: 40px 30px;
	}
	
	.project-detail{
		background-image: none !important;
	}
	
}

@media only screen and (max-width: 599px){
	
	.fluid-one_content,
	.slider-two_star,
	.slider-two-arrow,
	.slider-three_text br,
	.faq-one .help-box,
	.faq-one .vector-icon,
	.main-header.header-style-one .main-header_button{
		display: none;
	}
	
	.faq-one .image-column .image{
		display: block;
	}
	
	.faq-one .image-column .image img{
		width: 100%;
		display: block;
	}
	
	h1 {
		line-height: 60px;
		font-size: 50px;
	}
	
	.blog-two .sec-title_heading,
	h2 {
		line-height: 40px;
		font-size: 30px;
	}
	
	h4 {
		line-height: 32px;
		font-size: 20px;
	}
	
	.testimonial-block_one-inner{
		padding: 20px 20px;
	}
	
	.testimonial-block_one-text{
		font-size: 18px;
		line-height: 28px;
	}
	
	.slider-two_heading {
		font-size: 50px;
		line-height: 60px;
	}
	
	.slider-two .swiper-slide{
		padding:200px 0px 110px;
	}
	
	.project-two .project-block_three .content{
		padding: 20px 20px;
	}
	
	.cta-three_title,
	.news-block_three-meta li,
	.price-block_one .price-one_list li{
		font-size: 16px;
	}
	
	.price-block_one .inner {
		padding: 30px 20px;
	}	
	
	.accordion-box .block .acc-btn{
		font-size: 18px;
		padding:20px 70px 20px 20px;
	}
	
	.accordion-box .block .icon-outer{
		top: 13px;
	}
	
	.page-title_text{
		margin-top: 20px;
		max-width:100%;
	}
	
	.page-title .bread-crumb{
		margin-top: 20px;
	}
	
	.reply-comment{
		margin-left: 0px;
	}
	
	.comments-area{
		padding: 20px 20px;
	}
	
	.post-share-options .post-tags{
		margin-bottom: 20px;
	}
	
	.blog-author-post_inner{
		padding: 0px;
	}
	
	.blog-detail_author-image{
		position:relative;
		margin-bottom: 25px;
	}
	
	.comment-form-outer .rating{
		margin-top: 15px;
	}
	
	.comment-form-outer .rating strong{
		margin-left: 0px;
	}

}

@media only screen and (max-width: 479px) {
	
	h1 {
		line-height: 48px;
		font-size: 34px;
	}
	
	.blog-two .sec-title_heading,
	h2 {
		line-height: 38px;
		font-size: 28px;
	}
	
	.welcome-one_experiance{
		font-size: 20px;
	}
	
	.project-block_two .inner .content-outer .content .title,
	.project-block_two .inner .content-outer .content .sub-title,
	.about-widget{
		display: none;
	}
	
	.welcome-one_content{
		padding-left: 0px;
	}
	
	.category-list li span,
	.contact-one .image-column .text,
	.welcome-one_content .award-box{
		display: none;
	}
	
	.preloader .preloader-heading .load-text{
		font-size: 30px;
		letter-spacing: 0px;
	}
	
	.feature-block_one-inner{
		padding: 20px 20px;
	}
	
	.service-block_one-inner{
		padding:25px 25px;
	}
	
	.news-block_two-meta li,
	.service-block_one-list li{
		font-size: 16px;
	}
	
	.blog-one .blog-one-arrow,
	.team-two .team-two-arrow,
	.testimonial-three .testimonial-three-arrow,
	.testimonial-one .testimonial-one-arrow,
	.service-one .service-one-arrow{
		width: 300px;
	}
	
	.testimonial-three .swiper-pagination-progressbar,
	.team-two .swiper-pagination-progressbar,
	.blog-one .swiper-pagination-progressbar,
	.testimonial-one .swiper-pagination-progressbar,
	.service-one .swiper-pagination-progressbar{
		width: 140px !important;
	}
	
	.fluid-block_one-inner{
		padding-left: 0px;
	}
	
	.fluid-block_one-icon{
		position:relative;
		top:0px;
		margin-bottom: 20px;
	}
	
	.fluid-block_one-text{
		font-size: 16px;
		line-height: 26px;
	}
	
	.news-block_one .content .text,
	.testimonial-block_one-text{
		font-size: 16px;
		line-height: 26px;
	}
	
	.team-block_one-overlay .list{
		left: 15px;
		bottom: 15px;
	}
	
	.slider-two_title,
	.default-count-box,
	.default-skill-title,
	.counter-block .text,
	.testimonial-two_trusted span,
	.team-block_one-overlay .list li{
		font-size: 16px;
	}
	
	.news-block_one .upper-box .date{
		font-size: 14px;
	}
	
	.slider-two_heading {
		font-size: 30px;
		line-height: 42px;
	}
	
	.testimonial-two_reviews{
		margin-right: 45px;
		margin-bottom: 20px;
	}
	
	.testimonial-two_authors{
		margin-left:30px;
		margin-top:0px;
		margin-bottom: 15px;
	}
	
	.testimonial-block_two-text{
		font-size: 22px;
		line-height: 36px;
	}
	
	.clients-two{
		padding: 40px 20px;
	}
	
	.project-two .project-block_three .inner .image{
		height: 300px;
	}
	
	.pricing-tabs .tab-buttons .tab-btn{
		font-size: 15px;
		margin: 0px 10px;
	}
	
	.slider-three_title{
		font-size: 16px;
		padding: 8px 20px;
	}
	
	.service-block_three .inner .image{
		width:100%;
		height:auto;
	}
	
	.counter-block .content{
		padding-right: 0px;
	}
	
	.counter-block .icon{
		top: 0px;
	}
	
	.project-block_two .inner .content-outer{
		padding: 0px 0px;
		background: none;
	}
	
	.contact-one .image-column .image .overlay-box{
		left:15px;
		bottom:20px;
		right: 15px;
	}
	
	.contact-one .image-column .signature{
		margin-top:15px;
	}
	
	.contact-one .form-column .inner-column{
		padding: 25px 25px;
	}
	
	.testimonial-block_three .inner-box{
		padding: 35px 25px;
	}
	
	.news-block_three-inner{
		padding: 25px 25px;
	}
	
	.page-title .big-title{
		font-size: 50px;
	}
	
	.team-detail .content-box .title span{
		top:0px;
		font-size: 14px;
	}
	
	.team-detail .content-box .title{
		margin-bottom: 30px;
	}
	
	.category-list li a{
		padding:25px 25px 25px 25px;
	}
	
	.question-widget .phone{
		font-size: 18px;
	}
	
	.question-widget .inner-box{
		padding: 50px 20px;
	}
	
	.project-detail_list-two li span{
		display: block;
	}
	
	.more-projects a{
		font-size: 12px;
		padding: 15px 15px;
	}
	
	.shop-detail .prod-tabs .tab-btns .tab-btn{
		width:100%;
		margin-bottom: 8px;
		text-align: center;
		margin-right: 0px;
	}
	
	.comment-box .comment{
		padding-left: 0px;
	}
	
	.comment-box .author-thumb{
		position:relative;
		margin-bottom: 25px;
	}
	
	.register-one .form-column .inner-column,
	.reply-comment{
		padding: 20px 20px;
	}
	
	.voucher-box .form-group{
		padding-right: 0px;
	}
	
	.post-share-options .social-links span{
		position:relative;
		width:100%;
		font-size: 16px;
		margin-bottom: 10px;
	}
	
	.voucher-box .form-group button{
		position:relative;
		width:100%;
		display:block;
	}
	
	.coming-soon .content .content-inner{
		padding:100px 0px 20px;
	}
	
	.blog-detail blockquote .blockquote-inner{
		padding: 0px 0px;
	}
	
	.blog-detail blockquote .quote{
		position:relative;
		display: block;
		margin-bottom: 20px;
	}
	
	.post-share-options .post-tags strong{
		display: block;
		width:100%;
	}
	
	.post-widget .post h5{
		font-size: 14px;
		line-height: 26px;
	}
	
	.category-list li a{
		font-size: 17px;
		padding:20px 20px;
	}
	
	.comment-box .comment-time{
		margin-left: 0px;
	}
	
	.blog-detail p{
		font-size: 16px;
		line-height: 28px;
	}
	
}