/* Qonstruct Construction Business HTML-5 Template */

/* RTL Style CSS Code */

.rtl .row,
.rtl .d-flex{
	flex-direction: row-reverse;
}

.rtl .main-menu .navigation > li{
	float:right;
}

.rtl .sticky-header .logo{
	float:right;
	padding-left:25px;
}

.rtl .main-menu{
	text-align:right;
}

.rtl .main-header .main-menu .navigation > li > ul > li > ul > li,
.rtl .main-header .main-menu .navigation > li > ul > li,
.rtl .main-menu .navigation > li > ul > li{
	text-align:right;
}

.rtl .main-header .main-menu .navigation > li > ul{
	padding:20px 25px 20px 25px;
}

.rtl .main-header .main-menu .navigation > li > ul > li > a:before{
	right:0px;
	left:auto;
	opacity: 0;
}

.rtl .main-menu .navigation > li > ul > li:hover > a{
	padding-left:0px !important;
	padding-right:30px;
}

.rtl .main-menu .navigation > li > ul > li > a:before{
	left:auto;
	right:8px;
}

.rtl .main-menu .navigation > li > ul > li.dropdown > a:after{
	right:auto;
	left:10px;
	transform:rotate(180deg);
}

.rtl .main-menu .navigation > li > ul > li > ul{
	left:auto;
	right:100%;
}

.rtl .main-menu .navigation li > ul > li.dropdown:hover > ul{
	
}

.rtl .main-header .main-menu .navigation > li > ul > li > ul{
	right:100%;
	left:auto;
}

.rtl .main-menu .navigation > li > ul{
	left:auto;
	right:0px;
}

.rtl .main-menu .navigation > li.dropdown:hover > ul{
	left:auto;
	right:0px;
}

.rtl .main-menu .navigation > li > ul > li > ul > li:hover > a{
	padding-left:0px;
	padding-right:30px;
}

.rtl .main-menu .navigation > li > ul > li > ul > li > a:before{
	left:auto;
	right:8px;
	opacity: 0;
}

.rtl .main-header .main-menu .navigation > li:first-child{
	margin-right: 0px;
}

.rtl .main-header .main-menu .navigation > li:last-child{
	margin-right: 25px;
}

.rtl .search-popup .form-group input[type="text"],
.rtl .search-popup .form-group input[type="search"]{
	text-align: right;
}

.rtl .about-sidebar .content-box,
.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button{
	text-align: right;
}

.rtl .search-popup .form-group input[type="submit"],
.rtl .search-popup .form-group button{
	right: 0px;
	left: auto;
}

/* .rtl .main-header .header-lower .logo-box .logo{ */
	/* border:none; */
	/* padding: 25px 0px 25px; */
/* } */

.rtl .about-sidebar_list li{
	padding-left:0px;
	padding-right:30px;
}

.rtl .about-sidebar_list li:before{
	right:0px;
	left:auto;
}

.rtl .about-sidebar .social-box{
	text-align:right;
	margin-right:35px;
}

.rtl .slider-three_lower:before,
.rtl .testimonial-two .content-outer:after,
.rtl .testimonial-two .content-outer:before,
.rtl .about-one_image-two{
	display: none;
}

.rtl .coming-soon .emailed-form .form-group input[type="submit"],
.rtl .coming-soon .emailed-form button{
	left:5px;
	right:auto;
}

.rtl .default-form .form-group input[type="text"],
.rtl .default-form .form-group input[type="password"],
.rtl .default-form .form-group input[type="tel"],
.rtl .default-form .form-group input[type="email"],
.rtl .default-form .form-group textarea,
.rtl .coming-soon .emailed-form .form-group input[type="text"],
.rtl .coming-soon .emailed-form .form-group input[type="tel"],
.rtl .coming-soon .emailed-form .form-group input[type="email"],
.rtl .coming-soon .emailed-form .form-group textarea,
.rtl .shipping-form .form-group input[type="text"],
.rtl .shipping-form .form-group input[type="password"],
.rtl .shipping-form .form-group input[type="tel"],
.rtl .shipping-form .form-group input[type="email"],
.rtl .shipping-form .form-group select,
.rtl .shipping-form .form-group textarea,
.rtl .shipping-form .form-group .ui-selectmenu-button.ui-button,
.rtl .contact-form .form-group input[type="text"],
.rtl .contact-form .form-group input[type="password"],
.rtl .contact-form .form-group input[type="tel"],
.rtl .contact-form .form-group input[type="email"],
.rtl .contact-form .form-group select,
.rtl .contact-form .form-group textarea,
.rtl .comment-form .form-group input[type="text"],
.rtl .comment-form .form-group input[type="password"],
.rtl .comment-form .form-group input[type="tel"],
.rtl .comment-form .form-group input[type="email"],
.rtl .comment-form .form-group textarea,
.page-wrapper.rtl{
	text-align:right;
}

.rtl .contact-one_info-list li{
	padding-left:0px;
	padding-right: 100px;
}

.rtl .contact-one_info-list li .icon{
	right:0px;
	left:auto;
}

.rtl .comment-form-outer .rating{
	margin-right:20px;
}

.rtl .comment-form-outer .rating strong{
	margin-left:0px;
}

.rtl .sec-title_title{
	display: block;
}

.rtl .category-list li span{
	left:6px;
	right:auto;
}

.rtl .cart-totals li span,
.rtl .order-box .order-total span{
	left:0px;
	right:auto;
}

.rtl .sidebar .related-posts .post{
	padding-left:0px;
	padding-right:150px;
}

.rtl .sidebar .related-posts .post .post-thumb{
	right:0px;
	left:auto;
}

.rtl .item-quantity{
	margin-right:0px;
	margin-left:20px;
}

.rtl .comment-box .comment{
	padding-left:0px;
	padding-right:80px;
}

.rtl .comment-box .author-thumb{
	right:0px;
	left:auto;
}

.rtl .order-totals li span{
	right:auto;
	left:25px;
}

.rtl .post-widget .post{
	padding-left:0px;
	padding-right:160px;
}

.rtl .post-widget .post .thumb{
	right:0px;
	left:auto;
}

.rtl .sidebar .search-box .form-group input[type="text"],
.rtl .sidebar .search-box .form-group input[type="search"]{
	text-align: right;
	padding-right: 25px;
}

.rtl .sidebar .search-box .form-group button{
	left:0px;
	right:auto;
}

.rtl .comment-options{
	left:0px;
	right:auto;
}

.rtl .main-header .mobile-menu .navigation li.dropdown .dropdown-btn{
	left:0px;
	right:auto;
}

.rtl .contact-one .image-column .text,
.rtl .slider-three_text{
	max-width:inherit;
}

.rtl .service-four_content{
	border: none;
	padding-left: 0px;
	padding-right: 80px;
}

.rtl .news-block_one .upper-box .info,
.rtl .news-block_one .upper-box,
.rtl .project-block_two .inner .content-outer{
	flex-direction: row-reverse;
}

.rtl .testimonial-block_three .author-box{
	padding-left: 0px;
	padding-right: 80px;
}

.rtl .testimonial-block_three .author-box .author-image{
	right:0px;
	left:auto;
}

.rtl .faq-one .image-column{
	text-align: left;
}

.rtl .slider-one .side-image,
.rtl .news-block_two-button:after,
.rtl .news-block_two-button:before{
	display: none;
}

.rtl .footer-style-two .infos-outer{
	margin-left: 0px;
	margin-right: 360px;
}

.rtl .footer-info_block-two .content{
	padding-left: 0px;
	padding-right: 60px;
}

.rtl .footer-info_block-two .icon{
	right: 0px;
	left:auto;
}

.rtl .footer-style-two .footer-two_logo-widget .footer-text{
	max-width: inherit;
}

.rtl .footer-two_location{
	padding-left: 0px;
	padding-right: 70px;
}

.rtl .footer-two_location .icon{
	right: 0px;
	left: auto;
}

.rtl .slider-one_heading br{
	display: none;
}

.rtl .slider-one_heading,
.rtl .main-footer.style-two .footer-text,
.rtl .project-two .project-block_three .text,
.rtl .slider-one_content-inner{
	max-width: 100%;
}

.rtl .footer-info_block .content{
	padding-left: 0px;
	padding-right: 60px;
}

.rtl .footer-info_block .icon{
	right:0px;
	left:auto;
}

.rtl .team-detail_form .title-box .text,
.rtl .slider-one_text{
	max-width: 100%;
}

.rtl .feature-block_one-content{
	padding-left: 0px;
	padding-right: 85px;
}

.rtl .price-block_one .price-one_list{
	border: none;
	padding: 0px 0px;
}

.rtl .blog-detail_list li:before,
.rtl .privacy-section .privacy-list li:before,
.rtl .price-block_one .price-one_list li:before,
.rtl .service-block_one-list li:before,
.rtl .feature-block_one-icon{
	right: 0px;
	left:auto;
}

.rtl .blog-detail_list li,
.rtl .service-detail_list li,
.rtl .privacy-section .privacy-list li,
.rtl .price-block_one .price-one_list li,
.rtl .service-block_one-list li{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .blog-author-post_inner{
	padding-left: 0px;
	padding-right: 180px;
}

.rtl .blog-detail_author-image{
	right:0px;
	left:auto;
}

.rtl .fluid-block_one-inner{
	padding-left: 0px;
	padding-right: 80px;
}

.rtl .service-detail_list li:before,
.rtl .fluid-block_one-icon{
	right:0px;
	left:auto;
}

.rtl .project-detail_location{
	justify-content: end;
}

.rtl .project-detail_list li{
	padding-left:0px;
	padding-right:80px;
}

.rtl .project-detail_list li .icon{
	right:0px;
	left:auto;
}

.rtl .fluid-one_content-inner{
	padding-left: 0px;
	padding-right: 100px;
}

.rtl .about-one_list li:before,
.rtl .fluid-one_content-icon{
	right:0px;
	left:auto;
}

.rtl .default-count-box{
	left:0px;
	right:auto;
}

.rtl .about-one_list li{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .newsletter-box .form-group button{
	left:20px;
	right:auto;
}

.rtl .newsletter-box .form-group input[type="text"],
.rtl .newsletter-box .form-group input[type="email"]{
	text-align: right;
}

.rtl .team-detail_list li,
.rtl .education-block{
	padding-left: 0px;
	padding-right: 30px;
}

.rtl .team-detail_list li:before,
.rtl .education-block:before{
	right:0px;
	left:auto;
}

/* Qonstruct Construction Business HTML-5 Template */

@media only screen and (max-width: 1780px){

	

}

@media only screen and (max-width: 1600px){
	
	
	
}

@media only screen and (max-width: 1550px){

	

}

@media only screen and (max-width: 1500px){
	
	
	
}

@media only screen and (max-width: 1400px){
	
	
	
}

@media only screen and (max-width: 1300px){
	
	
	
}

@media only screen and (max-width: 1240px){
	
	.rtl .project-detail_list li{
		margin-right: 0px;
		margin-left: 20px;
	}
	
}

@media only screen and (max-width: 1140px){
	
	.rtl .footer-style-two .infos-outer{
		margin-right: 300px;
	}
	
}

@media only screen and (max-width: 1023px){
	
	.rtl .service-four_content{
		padding-right: 0px;
	}
	
}

@media only screen and (max-width: 990px){
	
	.rtl .team-one_button{
		margin-bottom: 35px;
	}
	
	.rtl .cta-one_pattern{
		right:-15px;
	}
	
	.rtl .project-three-arrow{
		right: 15px;
	}
	
	.rtl .cta-one .content{
		padding-right:0px;
	}
	
	.rtl .cta-one .inner-container::before{
		display: none;
	}
	
	.rtl .service-block_three-text{
		padding-left:0px;
	}
	
	.rtl .footer-style-two .infos-outer{
		margin-right: 0px;
	}
	
}

@media only screen and (max-width: 767px){
	
	.rtl .news-block_two-content{
		padding:25px 0px 0px;
	}
	
}

@media only screen and (max-width: 599px){
	
	.rtl .blog-author-post_inner,
	.rtl .comment-box .comment,
	.rtl .choose-block_one-inner{
		padding-right:0px;
	}
	
	.rtl .comment-box .author-thumb{
		position:relative;
		margin-bottom: 20px;
	}
	
}

@media only screen and (max-width: 479px) {
	
	.rtl .fluid-block_one-inner,
	.rtl .counter-block_one-content{
		padding-right:0px;
	}
	
	
	
}