/* Qonstruct Construction Business HTML-5 Template */

/*** 

====================================================================
	Testimonial One
====================================================================

***/

.testimonial-one{
	position:relative;
	overflow: hidden;
	padding: 110px 0px 110px;
	background-color: var(--color-two);
}

.testimonial-one .swiper-pagination-progressbar{
	position: relative;
	bottom: 15px;
    top: auto !important;
	margin: 0 auto;
    width: 200px !important;
    left: auto !important;
	background-color: #dddddd;
}

.testimonial-one .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	background-color: var(--main-color);
}

.testimonial-one .testimonial-one-arrow{
	position:relative;
	width: 350px;
	z-index: 1;
	margin: 0 auto;
	margin-top: 20px;
	text-align: left;
}

.testimonial-one .testimonial-one-arrow .testimonial-swiper-prev{
	position:relative;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 500;
	display: inline-block;
	text-transform: uppercase;
	color: var(--white-color);
}

.testimonial-one .testimonial-one-arrow .testimonial-swiper-next{
	position:absolute;
	right:0px;
	bottom: 0px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 1px;
	display: inline-block;
	text-transform: uppercase;
	color: var(--white-color);
}

.testimonial-one .testimonial-one-arrow .testimonial-swiper-prev:hover,
.testimonial-one .testimonial-one-arrow .testimonial-swiper-next:hover{
	color: var(--main-color);
}

.testimonial-one .testimonial-swiper {
    max-width: 660px;
	margin:0 auto;
    overflow: visible;
}

.testimonial-one .sec-title{
	max-width: 750px;
	margin:0 auto;
	margin-bottom: 40px;
}

.testimonial-block_one {
	position: relative;
	margin-bottom: 30px;
}

.testimonial-block_one-inner {
	position: relative;
	padding: 40px 0px 35px;
}

.testimonial-block_one-inner:before {
	position: absolute;
	content: "";
	left: 80px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: var(--white-color);
}

.testimonial-block_one-content{
	position: relative;
	padding-left: 190px;
	padding-right: 50px;
}

.testimonial-block_one-author{
	position: absolute;
	left: 0px;
	top: 20px;
}

.testimonial-block_one-author img{
	position: relative;
	width: 150px;
	height: 150px;
	display: inline-block;
}

.testimonial-block_one-author .quote{
	position: absolute;
	left: 50%;
	bottom: -32px;
	width: 60px;
	height: 60px;
	font-size: 28px;
	line-height: 60px;
	display: inline-block;
	transform: translateX(-50%);
	color: var(--white-color);
	background-color: var(--main-color);
}

.testimonial-block_one-text{
	position: relative;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 18px;
	color: var(--color-two);
}

.testimonial-block_one-designation{
	position: relative;
	font-size: 18px;
	font-weight: 600;
	color: var(--color-two);
}

.testimonial-block_one-designation span{
	display: block;
	font-weight: 400;
	font-size: 16px;
	margin-top: 5px;
	color: var(--color-three);
}

/*** 

====================================================================
	Testimonial One
====================================================================

***/

.testimonial-two{
	position: relative;
	overflow:hidden;
	padding: 110px 0px 120px;
	background-color:var(--white-color);
}

.testimonial-two_circle{
	position:absolute;
	right:-250px;
	top:80px;
	width:536px;
	height:536px;
	border-radius:550px;
	border:80px solid #f5f5f5;
}

.testimonial-two .single-item_carousel-pagination{
	position: absolute;
	top: 5%;
	z-index: 999;
	right: 0px !important;
	left: auto !important;
	width: 20px !important;
}

.testimonial-two .single-item_carousel-pagination .swiper-pagination-bullet{
	position: relative;
	opacity: 1;
	width: 10px;
	height: 10px;
	display: block;
	background: none;
	margin: 30px 0px !important;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	border-radius: 50px;
	display: block;
	background-color:#d9d9d9;
}

.testimonial-two .single-item_carousel-pagination .swiper-pagination-bullet::before{
	position: absolute;
	content: '';
	left: -8px;
	top: -8px;
	right: -8px;
	bottom: -8px;
	opacity:0;
	border-radius:50px;
	border:1px solid var(--white-color);
}

.testimonial-two .single-item_carousel-pagination .swiper-pagination-bullet:hover,
.testimonial-two .single-item_carousel-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
	opacity: 1;
	background-color:var(--black-color);
}

.testimonial-two .single-item_carousel-pagination .swiper-pagination-bullet:hover::before,
.testimonial-two .single-item_carousel-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before{
	opacity: 1;
	border-color:var(--black-color);
}

.testimonial-two_options{
	position:relative;
	font-size:24px;
	font-weight:600;
	color:var(--black-color);
}

.testimonial-two_options .rating{
	position:relative;
	font-size:24px;
	margin-top:15px;
	color:var(--main-color);
}

.testimonial-two_authors{
	position:relative;
	margin-top:10px;
	margin-left:60px;
}

.testimonial-two_authors li{
	position: relative;
    width: 74px;
    height: 74px;
    margin-left: -30px;
    border-radius: 50px;
    display: inline-block;
    border: 3px solid var(--white-color);
}

.testimonial-two_trusted{
	position:relative;
	font-size:24px;
	font-weight:700;
	line-height:36px;
	margin-left:40px;
	color: var(--color-two);
}

.testimonial-two_trusted span{
	position:relative;
	display:block;
	font-size:22px;
	font-weight:400;
	color: var(--black-color);
}

.testimonial-two_carousel{
	position:relative;
	margin-top:50px;
}

.testimonial-block_two{
	position:relative;
}

.testimonial-block_two-inner{
	position:relative;
}

.testimonial-block_two-text{
	position:relative;
	font-size:40px;
	font-weight:700;
	line-height:55px;
	max-width:990px;
	color: var(--color-two);
}

.testimonial-block_two-designation{
	position:relative;
	font-size:20px;
	font-weight:700;
	line-height:30px;
	margin-top:30px;
	color: var(--color-two);
}

.testimonial-block_two-designation span{
	position:relative;
	display:block;
	font-size:16px;
	color:#666666;
	font-weight:400;
}

/*** 

====================================================================
	Testimonial Three
====================================================================

***/

.testimonial-three{
	position:relative;
	overflow: hidden;
	padding: 110px 0px 110px;
	background-color: var(--color-two);
	background-position: center bottom;
	background-repeat: no-repeat;
}

.testimonial-three .swiper-pagination-progressbar{
	position: relative;
	bottom: 15px;
    top: auto !important;
	margin: 0 auto;
    width: 200px !important;
    left: auto !important;
	background-color: var(--color-three);
}

.testimonial-three .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	background-color: var(--main-color);
}

.testimonial-three .testimonial-three-arrow{
	position:relative;
	width: 350px;
	z-index: 1;
	margin: 0 auto;
	margin-top: 20px;
	text-align: left;
}

.testimonial-three .testimonial-three-arrow .three-item_carousel-prev{
	position:relative;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	color: var(--white-color);
}

.testimonial-three .testimonial-three-arrow .three-item_carousel-next{
	position:absolute;
	right:0px;
	bottom: 0px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1px;
	display: inline-block;
	text-transform: uppercase;
	color: var(--white-color);
}

.testimonial-three .testimonial-three-arrow .three-item_carousel-prev:hover,
.testimonial-three .testimonial-three-arrow .three-item_carousel-next:hover{
	color: var(--main-color);
}

.testimonial-block_three {
	position: relative;
	margin-bottom: 30px;
}

.testimonial-block_three .inner-box {
	position: relative;
	padding: 35px 30px;
	background-color: var(--white-color);
	background-position: left bottom;
	background-repeat: repeat-x;
}

.testimonial-block_three .rating {
	position: relative;
	font-size: 16px;
	margin-top: 25px;
	color: var(--main-color);
}

.testimonial-block_three .icon-quote {
	position: relative;
	width: 75px;
	height: 75px;
	font-size: 34px;
	line-height: 75px;
	text-align: center;
	border-radius: 5px;
	color: var(--white-color);
	background-color: var(--color-two);
	font-family: "flaticon_qonstruct";
}

.testimonial-block_three .text {
	position: relative;
	font-size: 16px;
	margin: 15px 0px 20px;
	color: var(--text-color);
}

.testimonial-block_three .author-box {
	position: relative;
	padding-left: 80px;
}

.testimonial-block_three .author-box .author-image {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 64px;
	height: 64px;
	overflow: hidden;
	border-radius: 50px;
	border:3px solid var(--main-color);
}

.testimonial-block_three .author-box .name {
	margin-bottom: 5px;
}

.testimonial-block_three .author-box .designation {
	position: relative;
	color: var(--color-two);
}